<x-home-layout>

    <!-- Main Content -->
    <main class="main-content">

        <!-- Contact Us -->
        <div class="tm-section contact-us-area tm-padding-section bg-white">
            <div class="container">
                <div class="row justify-content-center mt-30-reverse">

                    <div class="col-lg-4 col-md-6 col-12 mt-30">
                        <div class="tm-contact-block text-center">
                                <span class="tm-contact-icon">
                                    <i class="flaticon-pin"></i>
                                </span>
                            <h5>Address</h5>
                            <p>7 Roanoke Rd, North York, Ontario, Canada</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mt-30">
                        <div class="tm-contact-block text-center">
                                <span class="tm-contact-icon">
                                    <i class="flaticon-phone"></i>
                                </span>
                            <h5>Phone</h5>
                            <p><a href="#">1-800-915-6270</a></p>
                            <p><a href="#">1-800-915-6272</a></p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mt-30">
                        <div class="tm-contact-block text-center">
                                <span class="tm-contact-icon">
                                    <i class="flaticon-mail"></i>
                                </span>
                            <h5>Address</h5>
                            <p>Email: <a href="#">info@example.com</a></p>
                            <p>Skype: <a href="#">example.name</a></p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container tm-padding-section-top">
                <div class="row no-gutters">
                    <div class="col-lg-7">
                        <div class="tm-contact-formwrapper">
                            <h5>Let’s get in touch</h5>
                            <form action="assets/php/mailer.php" id="tm-contactform" class="tm-form">
                                <div class="tm-form-inner">
                                    <div class="tm-form-field">
                                        <input type="text" name="name" placeholder="Name*">
                                    </div>
                                    <div class="tm-form-field">
                                        <input type="email" name="email" placeholder="Email*">
                                    </div>
                                    <div class="tm-form-field">
                                        <input type="text" name="subject" placeholder="Subject*">
                                    </div>
                                    <div class="tm-form-field">
                                        <textarea name="message" cols="30" rows="5" placeholder="Message*"></textarea>
                                    </div>
                                    <div class="tm-form-field">
                                        <button type="submit" class="tm-button">Send Message <b></b></button>
                                    </div>
                                </div>
                            </form>
                            <p class="form-messages"></p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="tm-contact-map">
                            <div id="google-map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Contact Us -->


    </main>
    <!--// Main Content -->

</x-home-layout>

