<x-home-layout>

    <!-- Main Content -->


        <!-- Service Details -->
        <div class="tm-section service-details-area bg-white tm-padding-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="tm-service-details sticky-sidebar">
                            <img class="tm-service-details-image" src="assets/images/others/service-details.jpg"
                                 alt="service details image">
                            <h2>Financial Analysis</h2>
                            <p>Delectus voluptatem fugiat doloremque ab in. Assumenda eos temporibus quia temporibus
                                expedita numquam ut velit repellendus. Totam aperiam eum aut ea consequatur. Totam iure
                                ab in ea possimus mollitia aperiam. Qui corporis officiis accusantium eveniet fugiat
                                neque necessitatibus. Ipsum dolores fugit facere et labore et officia magnam sint.</p>
                            <p>Placeat et assumenda omnis fugit aut quaerat modi qui. Qui et sequi. Sequi minima velit
                                sapiente corporis dolor hic. Deleniti atque voluptas non mollitia sed illo hic
                                magni.</p>
                            <blockquote>
                                <p>Nulla omnis nulla rerum. Et architecto dolorem unde. In non molestiae vel autem iste.
                                    Architecto et eum beatae facilis. Illum aut non consequuntur reprehenderit velit
                                    sequi quia.</p>
                            </blockquote>
                            <ul class="stylish-list">
                                <li><i class="fa fa-hand-o-right"></i> Eum dolor atque quisquam qui voluptate
                                    necessitatibus tempore.
                                </li>
                                <li><i class="fa fa-hand-o-right"></i> Alias quidem non explicabo delectus totam dolores
                                    odit.
                                </li>
                                <li><i class="fa fa-hand-o-right"></i> Et laboriosam magni animi dignissimos.</li>
                                <li><i class="fa fa-hand-o-right"></i> Adipisci dolorem minus quas voluptate sapiente
                                    velit unde veritatis.
                                </li>
                                <li><i class="fa fa-hand-o-right"></i> Perferendis nihil veritatis.</li>
                                <li><i class="fa fa-hand-o-right"></i> Et reiciendis iure blanditiis quas sed dolore.
                                </li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--// Service Details -->



    <!--// Main Content -->

</x-home-layout>
